{#include layout.html}
<h2>Veterinarians</h2>

<table id="vets" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Specialties</th>
    </tr>
  </thead>
  <tbody>
    {#for vet in listVets}
    <tr>
      <td>{vet.firstName} {vet.lastName}</td>
      <td>
        {#for specialty in vet.specialties}
        <span>{specialty.name} </span>
        {/for}
        {#if vet.nrOfSpecialties == 0}
        <span>none</span>
        {/if}
      </td>
    </tr>
    {/for}
  </tbody>
</table>

{#if totalPages > 1}
<div>
  <span>Pages:</span>
  <span>[</span>
  {#for i in totalPages}
  {#if i_count != currentPage}
  <a href="/vets.html?page={i_count}">{i_count}</a>
  {#else}
  <span>{i_count}</span>
  {/if}
  {/for}
  <span>]&nbsp;</span>
  {#if currentPage > 1}
  <a href="/vets.html?page=1" title="First" class="fa fa-fast-backward"></a>
  {#else}
  <span title="First" class="fa fa-fast-backward"></span>
  {/if}
  {#if currentPage > 1}
  <a href="/vets.html?page={currentPage.minus(1)}" title="Previous" class="fa fa-step-backward"></a>
  {#else}
  <span title="Previous" class="fa fa-step-backward"></span>
  {/if}
  {#if currentPage < totalPages}
  <a href="/vets.html?page={currentPage.plus(1)}" title="Next" class="fa fa-step-forward"></a>
  {#else}
  <span title="Next" class="fa fa-step-forward"></span>
  {/if}
  {#if currentPage < totalPages}
  <a href="/vets.html?page={totalPages}" title="Last" class="fa fa-fast-forward"></a>
  {#else}
  <span title="Last" class="fa fa-fast-forward"></span>
  {/if}
</div>
{/if}
{/include}
